<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">MONGO SCRAPER</a>
        </div>
        <ul class="nav navbar-nav">
            <div class="nav-b">
            <li><a class="active" href="/">HOME</a></li>
            <li><a class="active" href="/saved">SAVED ARTICLES</a></li>
            <li><a class="button btn-danger scrape-new">SCRAPE NEW ARTICLES</a></li>
            </div>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    {{!-- <div class="background image">
    </div> --}}
    <div class="caption">
        <h1>MONGO SCRAPER</h1>
        <p>National Public Radio Edition</p>
    </div>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
    <div class="container">
        <p>NPR Mongo Scraper</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>
 <script src="/assets/javascript/index.js"></script>